@import 'https://fonts.googleapis.com/css?family=Roboto:300,400,500';

img {
  height: auto;
  max-width: 100%;
}


html header {
  display: block;
  background-image: url("images/unsplash-big.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1.2;
  max-width: none;
  padding: 10vw 2em;
  text-align: center;
  color: white;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

html #logo {
  display: inline-block;
  height: 200px;
  vertical-align: top;
  width: 200px;

}

html body {
  margin: 0;
  padding: 0;
}

html main {
  display: block;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  -moz-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  color: #555;
}

h1,
h2,
strong {
  color: #555;
}

a {
  color: #e81c4f;
}

table {
  border-collapse: collapse;
  width: 100%
}

.pricing table,
.pricing th,
.pricing td {
  border: 1px solid #ddd;
  text-align: center;
  vertical-align: middle;
}

th {
  background-color: #555;
  color: white;
}